{% extends "base.html" %}
{% block content %}
<h3>Этот сайт является сборником моих заметок по электронике. <br>
Основной функционал: переход по разделам, просмотр статей, добавление в закладки после создания аккаунта.<br>
У суперпользователя появляется возможность создавать и редактировать статьи.</h3>
<h2>Последние статьи</h2>
<ul>
    {% for article in articles %}
        <li>
            <a href="/article/{{ article[0] }}">{{ article[1] }}</a>
            [{{ article[2] }}] — {{ article[3] }}
        </li>
    {% endfor %}
</ul>
{% endblock %}